#login {
  margin-top:100px;
}

mat-card {
  max-width: 360px;
  margin: auto;
  margin: auto;
  //@warn: 2em auto;
  text-align: center;
}

.full-width-input {
width: 100%;
}

mat-form-field {
display: block;
}