<table>
    <tr>
        <th colspan="6">
            <h3>Mes trésors toujours cachés</h3>
        </th>
    </tr>
    <ng-container *ngFor="let i of hunt">
        <ng-container *ngIf="i.mode == 1">
            <tr>
                <td>{{i.id}}</td>
                <td>{{i . name }}</td>
                <td>{{i . begin | date: "dd/MM/yyyy"}}</td>
                <td>{{i . end| date: "dd/MM/yyyy"}}</td>
                <td>{{i . location}}</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5">{{i . description}}</td>
            </tr>
        </ng-container>
    </ng-container>
    <tr>
        <th colspan="6">
            <h3>Mes trésors recherchés</h3>
        </th>
    </tr>
    <ng-container *ngFor="let i of hunt">
        <ng-container *ngIf="i.mode == 2">
            <tr>
                <td>{{i.id}}</td>
                <td>{{i . name }}</td>
                <td>{{i . begin | date: "dd/MM/yyyy"}}</td>
                <td>{{i . end| date: "dd/MM/yyyy"}}</td>
                <td>{{i . location}}</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5">{{i . description}}</td>
            </tr>
        </ng-container>
    </ng-container>
    <tr>
        <th colspan="6">
            <h3>Mes trésors trouvés</h3>
        </th>
    </tr>
    <ng-container *ngFor="let i of hunt">
        <ng-container *ngIf="i.mode == 3">
            <tr>
                <td>{{i.id}}</td>
                <td>{{i . name }}</td>
                <td>{{i . begin | date: "dd/MM/yyyy"}}</td>
                <td>{{i . end| date: "dd/MM/yyyy"}}</td>
                <td>{{i . location}}</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5">{{i . description}}</td>
            </tr>
        </ng-container>
    </ng-container>
    <tr>
        <th colspan="6">
            <h3>Mes trésors perdus</h3>
        </th>
    </tr>
    <ng-container *ngFor="let i of hunt">
        <ng-container *ngIf="i.mode == 4">
            <tr>
                <td>{{i.id}}</td>
                <td>{{i . name }}</td>
                <td>{{i . begin | date: "dd/MM/yyyy"}}</td>
                <td>{{i . end| date: "dd/MM/yyyy"}}</td>
                <td>{{i . location}}</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5">{{i . description}}</td>
            </tr>
        </ng-container>
    </ng-container>
</table>