<table>
    <tr>
        <th colspan="6">
            <h3>Mes prochaines Quêtes</h3>
        </th>
    </tr>
    <ng-container *ngFor="let i of hunt">
        <ng-container *ngIf="i.begin > today">
            <tr>
                <td>{{i.id}}</td>
                <td>{{i . name }}</td>
                <td>{{i . begin | date: "dd/MM/yyyy"}}</td>
                <td>{{i . end| date: "dd/MM/yyyy"}}</td>
                <td>{{i . location}}</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5">{{i . description}}</td>
            </tr>
        </ng-container>
    </ng-container>
    <tr>
        <th colspan="6">
            <h3>Mes Quêtes en cours</h3>
        </th>
    </tr>
    <ng-container *ngFor="let i of hunt">
        <ng-container *ngIf="i.begin <= today && today <= i.end">
            <tr>
                <td>{{i.id}}</td>
                <td>{{i . name }}</td>
                <td>{{i . begin | date: "dd/MM/yyyy"}}</td>
                <td>{{i . end| date: "dd/MM/yyyy"}}</td>
                <td>{{i . location}}</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5">{{i . description}}</td>
            </tr>
        </ng-container>
    </ng-container>
    <tr>
        <th colspan="6">
            <h3>Mes Quêtes Finies</h3>
        </th>
    </tr>
    <ng-container *ngFor="let i of hunt">
        <ng-container *ngIf="i.end < today">
            <tr>
                <td>{{i.id}}</td>
                <td>{{i . name }}</td>
                <td>{{i . begin | date: "dd/MM/yyyy"}}</td>
                <td>{{i . end| date: "dd/MM/yyyy"}}</td>
                <td>{{i . location}}</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5">{{i . description}}</td>
            </tr>
        </ng-container>
    </ng-container>
</table>